*{
margin: 0;
padding: 0;
}
 
.list{
	
	background-color: #555;
	color: white;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	font-size: 17px;
	width: 25%;
}
.list:hover {
	background-color: #777;
}
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}
#Doctor list{
	
	background-color: green;
}
#Patient list{
	
	background-color: red;
}
#Doctor Registration{
	background-color: yellow;
}